<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <main class="wrapper">
      <section id="chart-section" class="section">
        <h1 class="h1">Your life in weeks calendar</h1>
        <form
          id="birthdayForm"
          name="birthdayForm"
          action="javascript:void(0);"
        >
          <label for="birthday-input"> Enter your birthday </label>
          <input id="birthday-input" name="birthday" type="date" min="1900" />
          <input type="submit" />
        </form>
      </section>
    </main>
  </body>
</html>
