<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Life Chart</title>
  </head>
  <body>
    <div class="wrapper">
      <section class="section">
        <h1 class="h1">A title</h1>
        <div class="year">
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day day_filled"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
        </div>
      </section>
    </div>
  </body>
</html>
