$dot-size: 4px;

html {
  font-size: 16px;
}

body {
  background-color: #fff496;
}

#chart-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#birthdayForm {
  margin-bottom: 2rem;
}

.h1 {
  margin-bottom: 2rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.year {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.day {
  content: "";
  display: inline-block;
  width: $dot-size;
  height: $dot-size;
  border: 1px solid #858537;
  z-index: 10;

  &_filled {
    background-color: #858537;
  }
}
